---
title: Explore the Timeless Legacy of the Stabat Mater
seo_title: "Stabat Mater Collection: compositions, composers, texts and translations"
description: >-
  Search our Stabat Mater Collection: 300 compositions, composers, texts and 24 translations of the original Latin poem Stabat Mater Dolorosa.
last_modified_at: 2025-04-20 14:14:09 +00:00
lang: en-US
---
<article aria-label="Explore the Timeless Legacy of the Stabat Mater" class="post-2274 page type-page status-publish entry boxed">
  <div class="entry-content">
    <figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
      <div class="wp-block-embed__wrapper">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" frameborder="0" height="281" referrerpolicy="strict-origin-when-cross-origin" src="https://www.youtube.com/embed/BB51Wb2UvbI?feature=oembed" title="Stabat Mater Dolorosa - A Journey through Seven Centuries of Music" width="500"></iframe>
      </div>
      <figcaption class="wp-element-caption"><strong>If you would like to support us in keeping the website ad-free, you might consider making a <a href="{% include utils/url.html scope='link' path='stabat-mater-collection-support/' %}">donation</a> or purchasing the <a href="https://www.amazon.com/Stabat-Mater-Dolorosa-Journey-Centuries/dp/B0CY8T9MG1">Stabat Mater Dolorosa book</a>. Thank you so much!</strong></figcaption>
    </figure>
    <h2 class="wp-block-heading">Search the Ultimate Stabat Mater Website</h2>
    <p>On the Ultimate Stabat Mater Website you will find the CD-collection of -now- more than 300 different Stabat Mater compositions. Search for <a href="{% include utils/url.html scope='link' path='stabat-mater-composer/' %}">composers</a>: alphabetically, chronologically, by country of origin and by duration. <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw">Listen</a> to the compositions and <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw/featured">watch</a> the videos of special performances. The site also includes <a href="{% include utils/url.html scope='link' path='stabat-mater-translations-and-languages/' %}">translations</a> of the original Latin poem <a href="{% include utils/url.html scope='link' path='stabat-mater-dolorosa-about-the-poem/' %}">Stabat Mater Dolorosa</a> in 24 different languages. See: <a href="{% include utils/url.html scope='link' path='category/latest-addition/' %}">Latest additions</a>.</p>
    <h2 class="wp-block-heading">Why this Stabat Mater website?&nbsp;&nbsp;</h2>
    <p>Initiator of this website, <a href="{% include utils/url.html scope='link' path='stabat-mater-foundation/' %}">Hans van der Velden</a>, began this journey of musical discovery in 1992 with the Stabat Mater from <a href="{% include utils/url.html scope='link' path='stabat-mater-foundation/' %}">Haydn</a>. He searched systematically and persistently for composers, performances on cd and translations of the original Latin poem. He brought the religious, literary, and musical world of the Stabat Mater to life. <a href="{% include utils/url.html scope='link' path='stabat-mater-foundation/' %}">We are proud</a> to continue his work.</p>
    <h2 class="wp-block-heading">Interested?</h2>
    <p>We hope this site is helpful for music lovers, musicians, and composers! Would you like to learn more? Subscribe to the Newsletter or <a href="{% include utils/url.html scope='link' path='stabat-mater-blog/' %}">read the blog</a>. Do you have any information about performances, recordings, video&rsquo;s, or cds with Stabat Maters? &nbsp;<a href="{% include utils/url.html scope='link' path='contact/' %}">Please, let us know</a>!</p>
  </div>
</article>
