<div class="footer-widgets" id="genesis-footer-widgets">
  <h2 class="genesis-sidebar-title screen-reader-text">Footer</h2>
  <div class="wrap">
    <div class="row gutter-xl">
      <div class="widget-area footer-widgets-1 footer-widget-area col col-xs-12 col-sm-6 col-md-3">
        <section class="widget widget_text" id="text-43">
          <div class="widget-wrap">
            <h3 class="widgettitle widget-title">Visit YouTube</h3>
            <div class="textwidget">
              <p>
                <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw" rel="noopener" target="_blank">
                  <img
                    alt=""
                    class="alignnone size-full wp-image-11737"
                    decoding="async"
                    height="178"
                    loading="lazy"
                    sizes="auto, (max-width: 297px) 100vw, 297px"
                    src="{% include utils/url.html scope='asset' path='assets/de1bb35313215d0c4f14c283d836d29e63b3840977a67decc4bb9f4a75ee0814.jpg' %}"
                    srcset="{% include utils/url.html scope='asset' path='assets/de1bb35313215d0c4f14c283d836d29e63b3840977a67decc4bb9f4a75ee0814.jpg' %} 297w, {% include utils/url.html scope='asset' path='assets/4d7776a76a7fdfedbba10dbbc0cfc8d93d30d50d0a423bea0f3ecb95a782bdd7.jpg' %} 24w, {% include utils/url.html scope='asset' path='assets/6ba7df2aa3dc789760f56bb2e5c799bec651f587dfcff1573e5521cc9fa1ae84.jpg' %} 36w, {% include utils/url.html scope='asset' path='assets/af3e8a14bab08606a8294cc030c2bfe166ee169c41729664557e463cbf83507b.jpg' %} 48w"
                    width="297"
                  />
                </a>
                <br/>
                <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw" rel="noopener" target="_blank">Watch Stabat Mater performances</a>
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="widget-area footer-widgets-2 footer-widget-area col col-xs-12 col-sm-6 col-md-3">
        <section class="widget widget_text" id="text-46">
          <div class="widget-wrap">
            <h3 class="widgettitle widget-title">Photos on Instagram</h3>
            <div class="textwidget">
              <p>
                <a href="https://www.instagram.com/stabatmater.info/" rel="noopener" target="_blank">
                  <img
                    alt=""
                    class="alignnone size-full wp-image-11498"
                    decoding="async"
                    height="178"
                    loading="lazy"
                    sizes="auto, (max-width: 297px) 100vw, 297px"
                    src="{% include utils/url.html scope='asset' path='assets/8a12126af8cd6c8514d9f3614ed3520b61583573e8cde1eacb62ee1e98e864b6.jpg' %}"
                    srcset="{% include utils/url.html scope='asset' path='assets/8a12126af8cd6c8514d9f3614ed3520b61583573e8cde1eacb62ee1e98e864b6.jpg' %} 297w, {% include utils/url.html scope='asset' path='assets/eed9c985a6c642a7915167328ca9531d7161e0ead6f03735066f59351d30c9f3.jpg' %} 24w, {% include utils/url.html scope='asset' path='assets/6a418da7a381d78d24be3f9dbe8eeb9ec2cccf9f49b72729d1133a4425546cd7.jpg' %} 36w, {% include utils/url.html scope='asset' path='assets/3225dcf678b1d8e4f1e6d67524ada03a488395ea03b0b883d9fe103a5d1bf559.jpg' %} 48w"
                    width="297"
                  />
                </a>
                <br/>
                <a href="https://www.instagram.com/stabatmater.info/" rel="noopener" target="_blank">Mary at the foot of the cross</a>
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="widget-area footer-widgets-3 footer-widget-area col col-xs-12 col-sm-6 col-md-3">
        <section class="widget widget_text" id="text-52">
          <div class="widget-wrap">
            <h3 class="widgettitle widget-title">Stabat Mater Book</h3>
            <div class="textwidget">
              <p>
                <a href="https://www.amazon.com/Stabat-Mater-Dolorosa-Journey-Centuries/dp/B0CY8T9MG1" rel="noopener" target="_blank">
                  <img
                    class="alignnone size-full wp-image-9160"
                    decoding="async"
                    src="{% include utils/url.html scope='asset' path='assets/d15b955e06da74bcf5f0d0d0e0c36640bddab99463e45cd132268738cc749fd0.jpg' %}"
                  />
                </a>
                <a href="https://www.amazon.com/Stabat-Mater-Dolorosa-Journey-Centuries/dp/B0CY8T9MG1">New Release: Stabat Mater Dolorosa</a>
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="widget-area footer-widgets-4 footer-widget-area col col-xs-12 col-sm-6 col-md-3">
        <section class="widget widget_text" id="text-22">
          <div class="widget-wrap">
            <h3 class="widgettitle widget-title">Interested?</h3>
            <div class="textwidget">
              <p>Subscribe to the newsletter<br/>
                <script>
                  (function() {
                    window.mc4wp = window.mc4wp || {
                      listeners: [],
                      forms: {
                        on: function(evt, cb) {
                          window.mc4wp.listeners.push({ event: evt, callback: cb });
                        }
                      }
                    };
                  })();
                </script>
                <!-- Mailchimp for WordPress v4.10.6 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
              </p>
              <form class="mc4wp-form mc4wp-form-10075" data-id="10075" data-name="Newsletter" id="mc4wp-form-1" method="post">
                <div class="mc4wp-form-fields">
                  <p>
                    <label>
                      Email address:<br/>
                      <input name="EMAIL" placeholder="Your email address" required="" type="email"/>
                      <br/>
                    </label>
                  </p>
                  <p>
                    <input type="submit" value="Sign up"/>
                  </p>
                </div>
                <p>
                  <label style="display: none !important;">
                    Leave this field empty if you’re human:
                    <input autocomplete="off" name="_mc4wp_honeypot" tabindex="-1" type="text" value=""/>
                  </label>
                  <input name="_mc4wp_timestamp" type="hidden" value="1755304430"/>
                  <input name="_mc4wp_form_id" type="hidden" value="10075"/>
                  <input name="_mc4wp_form_element_id" type="hidden" value="mc4wp-form-1"/>
                </p>
                <div class="mc4wp-response"></div>
              </form>
              <p><!-- / Mailchimp for WordPress Plugin --></p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer text-sm" id="colophon">
  <div class="wrap">
    <aside class="widget-area">
      <h2 class="genesis-sidebar-title screen-reader-text">Site Footer</h2>
      <section class="widget widget_text" id="text-27">
        <div class="widget-wrap">
          <div class="textwidget"></div>
        </div>
      </section>
    </aside>
    <div class="creds">
      <p>
        © {{ site.time | date: '%Y' }} ·
        <a href="{% include utils/url.html scope='link' path='nl/copyright/' %}" target="_blank">Copyright</a>
        <a href="{% include utils/url.html scope='link' path='nl/privacy/' %}" target="_blank">Privacy</a>
        <a href="{% include utils/url.html scope='link' path='nl/disclaimer/' %}" target="_blank">Disclaimer</a>
        · Bouw: <a href="http://www.bronwasserwebsites.nl" target="_blank">Bronwasser Websites</a> in
        <a href="https://wordpress.org/">WordPress</a>
      </p>
    </div>
  </div>
</footer>
