<aside aria-label="Primary Sidebar" class="sidebar sidebar-primary widget-area has-boxed" id="genesis-sidebar-primary" role="complementary">
  <h2 class="genesis-sidebar-title screen-reader-text">Primary Sidebar</h2>
  <section class="widget boxed widget_text" id="text-60">
    <div class="widget-wrap">
      <div class="textwidget">
        <p>
          <a href="stabat-mater-collection-support/index.html">
            <img alt="" class="alignnone size-medium wp-image-17330" decoding="async" height="175" loading="lazy" sizes="auto, (max-width: 300px) 100vw, 300px" src="assets/16fecb4e78f850ce9a99d1bd043574dc068e69ff555a4aeed231e142ada51cc1.jpg" srcset="assets/16fecb4e78f850ce9a99d1bd043574dc068e69ff555a4aeed231e142ada51cc1.jpg 300w, assets/66a3858ef0021a6029b0ddd689676ca1ac9543165a40482e328b653f7661998e.jpg 24w, assets/2aca9f062eedcd1e5184b132a72b87aa10f2ae0f6e1961a60a44b43b5cde74b7.jpg 36w, assets/d120e9a2c3a0d229938d15e0d8f706f817b1c2765c012c086897350b4b351f8f.jpg 48w" width="300"/>
          </a>
        </p>
      </div>
    </div>
  </section>
  <section class="widget boxed widget_search" id="search-5">
    <div class="widget-wrap">
      <form action="https://stabatmater.info/" class="search-form" method="get" role="search">
        <label class="search-form-label screen-reader-text" for="searchform-3">Search this website</label>
        <input class="search-form-input" id="searchform-3" name="s" placeholder="Search this website" type="search"/>
        <input class="search-form-submit" type="submit" value="Search"/>
        <meta content="https://stabatmater.info/?s={s}"/>
      </form>
    </div>
  </section>
  <section class="widget boxed widget_recent_entries" id="recent-posts-2">
    <div class="widget-wrap">
      <h3 class="widgettitle widget-title">Recent posts</h3>
      <ul>
        <li>
          <a href="donations-temporarily-unavailable/index.html">Donations temporarily unavailable</a>
          <span class="post-date">20-04-2025</span>
        </li>
        <li>
          <a href="a-unique-approach-to-pergolesis-stabat-mater/index.html">A Unique Approach to Pergolesi&rsquo;s Stabat Mater</a>
          <span class="post-date">13-04-2025</span>
        </li>
        <li>
          <a href="latest-addition-clemence-de-granval/index.html">Latest addition: Cl&eacute;mence de Granval</a>
          <span class="post-date">18-03-2025</span>
        </li>
        <li>
          <a href="new-english-liturgical-translation-of-the-stabat-mater/index.html">New English Liturgical Translation of the Stabat Mater</a>
          <span class="post-date">18-03-2025</span>
        </li>
        <li>
          <a href="the-ultimate-stabat-mater-website-needs-your-support/index.html">The Ultimate Stabat Mater Website Needs Your Support</a>
          <span class="post-date">06-02-2025</span>
        </li>
      </ul>
    </div>
  </section>
  <section class="widget boxed widget_text" id="text-28">
    <div class="widget-wrap">
      <h3 class="widgettitle widget-title">Stabat Mater composers</h3>
      <div class="textwidget">
        <p>
          Search for composers:<br/>
          <a href="stabat-mater-composer/alphabetically/index.html">Alphabetically</a><br/>
          <a href="stabat-mater-composer/countries-of-origin/index.html">By countries of origin</a><br/>
          <a href="stabat-mater-composer/chronologically/index.html">Chronologically</a><br/>
          <a href="stabat-mater-composer/duration/index.html">By duration</a>
        </p>
      </div>
    </div>
  </section>
</aside>
